@model IEnumerable<UCP1_PAW_043_C.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Admin")
            </th>
            <th>
                @Html.DisplayName("Password Admin")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordAdmin)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAdmin"><i class="fas fa-pen-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdAdmin"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAdmin"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
