@model IEnumerable<UCP1_PAW_043_C.Models.Catatan>

@{
    ViewData["Title"] = "Index";
}

<h1>Catatan Pemasukan dan Pengeluaran</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tanggal")
            </th>
            <th>
                @Html.DisplayName("Keterangan")
            </th>
            <th>
                @Html.DisplayName("Harga")
            </th>
            <th>
                @Html.DisplayName("Kategori")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeteranganCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKategoriNavigation.NamaKategori)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCat"><i class="fas fa-pen-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdCat"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdCat"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
